<!-- goes to search in users controller -->
<div class="search_wrapper">
  <div class="keyword_search">
    <%= form_tag("search", method: "get") do %>
    <%= label_tag(:q, "Keyword:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %><br></br>
    <span class="search_text_instruction">Click on a subject field to the left, then enter a keyword, interest, or organization name above, then click "search".</span>
  </div>
  <div class="interest_field">
    <%= radio_button_tag("ntee_id", "1") %>
    <p><%= label_tag("ntee", "Arts, Culture & Humanities") %></p>
    <%= radio_button_tag("ntee_id", "2") %>
    <p><%= label_tag("ntee", "Education") %></p>
    <%= radio_button_tag("ntee_id", "3") %>
    <p><%= label_tag("ntee_id", "Environment and Animals") %></p>
    <%= radio_button_tag("ntee_id", "4") %>
    <p><%= label_tag("ntee", "Health") %></p>
    <%= radio_button_tag("ntee_id", "5") %>
    <p><%= label_tag("ntee_id", "Human Services") %></p>
    <%= radio_button_tag("ntee_id", "6") %>
    <p><%= label_tag("ntee", "International, Foreign Affairs") %></p>
    <%= radio_button_tag("ntee_id", "7") %>
    <p><%= label_tag("ntee_id", "Public, Societal Benefit") %></p>
    <%= radio_button_tag("ntee_id", "8") %>
    <p><%= label_tag("ntee", "Religion Related") %></p>
    <%= radio_button_tag("ntee_id", "9") %>
    <p><%= label_tag("ntee_id", "Mutual/Membership Benefit") %></p>
    <%= radio_button_tag("ntee_id", "10") %>
    <p><%= label_tag("ntee", "Unknown, Unclassified") %></p>

  <% end %>
  </div>
</div>